/**
 * This will display them grid elements as block rather than inline for mobile browsers 
 * (essentially anything smaller than the narrow grid size, and media query declares. 
 */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19,
.grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

#region-preface-first, #region-preface-second {
	margin:10px 0 auto 0;
	width:100%;
}


#region-user-second {
	padding-top:10px;
}

#zone-menu {
	text-align:center;
}


.region-postscript-first, .region-postscript-second, 
.region-postscript-third, .region-postscript-fourth {
	margin-top:10px;
}

#region-user-second {
	height:51px;
	margin-bottom:5px;
}
