/* This file will hold styles that are loaded using the same media query as the normal grid. */

#zone-menu {
	text-align:left;
}

#zone-preface {
	margin-top:10px;
}


#region-preface-first {
	margin:auto 5px auto 0;
	width:60%;
}

#region-preface-second {
	margin:auto 0 auto 5px;
	width:36%;
}

.region-postscript-first, .region-postscript-second, 
.region-postscript-third, .region-postscript-fourth {
	margin-top:25px;
}


#region-user-second {
	padding-top:20px;
}

.region-user-second-inner {
	text-align:right;
}

#zone-content {
	overflow:hidden;
}

.front .view-news .highlight-slide {
	width:75%;
}

.front .view-news .highlight-slide p {
	width:625px;
}